<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 与源配置⽂件使⽤相同命名空间-->
<mapper namespace="com.bite.forum.dao.MessageMapper">
    <select id="selectUnreadCount" parameterType="java.lang.Long"
            resultType="java.lang.Integer">
        select COUNT(*) from t_message
        WHERE state = 0
          and deleteState = 0
          and receiveUserId = #{receiveUserId,jdbcType=BIGINT}
    </select>
</mapper>
